# Обучение модели

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [26]:
train_df = pd.read_csv('train.csv')

In [27]:
train_df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2013,Pune,3,27,Male,No,5,0
1,Bachelors,2016,Pune,2,24,Female,No,2,1
2,Bachelors,2013,Pune,3,32,Male,No,2,0
3,PHD,2016,Bangalore,3,30,Female,No,5,0
4,Bachelors,2013,Bangalore,3,25,Male,No,3,0

In [28]:
label_encoder = LabelEncoder()

for column in train_df.columns:
    if train_df[column].dtype == 'object':
        train_df[column] = label_encoder.fit_transform(train_df[column])

X = train_df.drop('LeaveOrNot', axis=1)
y = train_df['LeaveOrNot']

X['Education'] = label_encoder.fit_transform(X['Education'])
X['City'] = label_encoder.fit_transform(X['City'])
X['Gender'] = label_encoder.fit_transform(X['Gender'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
train_df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,0,2013,2,3,27,1,0,5,0
1,0,2016,2,2,24,0,0,2,1
2,0,2013,2,3,32,1,0,2,0
3,2,2016,0,3,30,0,0,5,0
4,0,2013,0,3,25,1,0,3,0

In [30]:
# X, y = train_df.drop(['LeaveOrNot'], axis=1).to_numpy(), train_df['LeaveOrNot'].to_numpy()

In [31]:
tree = DecisionTreeClassifier(
    criterion='gini', 
    splitter='best', 
    max_depth=5, 
    min_samples_split=2, 
    min_samples_leaf=.05,
    )

In [32]:
tree.fit(X, y)

DecisionTreeClassifier(max_depth=5, min_samples_leaf=0.05)

In [ ]:


accuracy_decision_tree = accuracy_score(y_test, y_pred_decision_tree)

# Submission

In [33]:
test_df = pd.read_csv('test.csv')

In [34]:
for column in test_df.columns:
    if test_df[column].dtype == 'object':
        test_df[column] = label_encoder.fit_transform(test_df[column])

In [35]:
pred = tree.predict(test_df.to_numpy())

In [36]:
d = pd.DataFrame({'ID': list(range(len(pred))), 'LeaveOrNot': pred})
d.to_csv('submission.csv', index=False)